<div class="container">
    
    <form class="form">
        <h1>Deletar Ocorrência</h1>
        
            <mat-form-field >
              <mat-label>Titulo da ocorrência</mat-label>
              <input
              maxlength="22"
              [(ngModel)]="occurrence.title"
              name="title"
              
              disabled="true"
              required
               matInput
              >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <input
                [(ngModel)]="occurrence.description"
                disabled="true"
                name="description"
                required
                 matInput>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>{{situationReturn(occurrence.situation)}}</mat-label>
                <mat-select
                disabled="true"
                required
                [(ngModel)]="occurrence.situation"
                name="situation"
                >
                </mat-select>
             
            </mat-form-field>

             <div class="buttons">
                <button  mat-button color="warn" (click)="delete()">Deletar</button>
                <button (click)="goBack()" mat-button color="primary">Voltar</button>
              </div>
    </form>
    <div class="aside">
        <img src="../../../../assets/delete.svg" alt="">
    </div>
</div>
