
<div class="container">
    
    <form class="form">
        <h1>Deletar Aviso</h1>

            <mat-form-field appearance="fill">
              <mat-label>Titulo</mat-label>
              <mat-icon matSuffix>
                <span class="material-icons-outlined"> drive_file_rename_outline </span>
             </mat-icon>
              <input 
              [disabled]="true"
              [(ngModel)]="annoucement.title"
              required
              maxlength="50"
               name="title"
               matInput 
             >
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Descrição</mat-label>
                <mat-icon matSuffix>
                    <span class="material-icons-outlined"> 123</span>
                 </mat-icon>
                <input
                [disabled]="true"
                [(ngModel)]="annoucement.description"
                required=""
                name="description"
                 matInput
                 >
                 
              </mat-form-field>

            
          
         <div class="buttons">
            <button (click)="delete()" mat-button color="warn" >Deletar</button>
            <button (click)="goBack()" mat-button color="primary">Voltar</button>
          </div>
          
    </form>
    <div class="aside">
        <img src="../../../../assets/create.svg" alt="">
    </div>
</div>

