.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

#form {
    width:70%;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem ;
    background-color: #FFF;
    border-radius: 1rem;
   
}

h1 {
    width: 100%;
    text-align: center;
    color: green;
}
.full-width {
    width: 90%;
    margin: 0 1rem 0 1rem;
  
}
img {
    margin-top: 0;
    height: 12rem;
    width: 12rem;
    border: 1px solid #FFF;
   
}

button {
    background-color: green;
    padding: 1.5rem;
    
}

button span {
    color: #FFF;
}

.color {
    color: green;
    
}

