.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    

}

#form {
    width:90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem ;
    background-color: #FFF;
    border-radius: 1rem;
   
}

mat-form-field {
    width: 100%;
    max-width: 400px;
}

h1 {
    width: 100%;
    text-align: center;
    color: green;
    font-size: 2rem;
}

img {
    margin-top: 0;
    height: 14rem;
    width: 14rem;
  
   
}

button {
    background-color: green;
    padding: 1.5rem;
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    cursor: pointer;
    
}

button span {
    color: #FFF;
}

.color {
    color: green;
    
}
