.container {
    width: 70%;
    height: 100%;
    padding:.5rem;
    margin:  2rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #DDA329;
   
     
   
 }



 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
 }

h1 {
    font-size: 2rem;
    color: #69553B;
}

mat-label {
    
    color:#69553B;
}

table {
    width: 100%;
    background-color:  #DDA329;
    color: #FFF;
}

thead tr{
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0;
}

th {
    text-align: center;
}
td {
    padding: .3rem;
    word-break: break-all;
    text-align: center;
    border-right: 1px solid #69553B;
    
}

td:last-child {
    border-right:0px;
}


mat-paginator {
    background-color:  #DDA329;
    color: #69553B;
}

mat-form-field {
    width: 100%;
    background-color:#DDA329;
}


.header button {
    align-self: flex-end;
    width: 10rem;
    padding: 1.5rem;
    margin: 1rem;
    background-color:#69553B;
    color: #FFF;
   

}

.edit {
    color:  #FFF ;
    margin:.5rem .1rem 0 0;;
    background-color:#0c810c ;
    padding: .3rem;
    border-radius: 50%;
}
.delete {
    color:  #FFF ;
    
    background-color:  #C3B4A8;
    padding: .3rem;
    margin:.5rem .1rem 0 0;
    border-radius: 50%;
}

.print {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #69553B;
    outline: none;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
}

.mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: #69553B;
    --mdc-protected-button-label-text-color: #C3B4A8;
    font-weight: bold;
  }

  @media(max-width:756px) {
    .container {
        width: 90%;
       
    }

   
    
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }
    
    
     .header button {
        width: 90vw;
        align-self: center;
     }
    
 }




