.container {
 width: 100%;
 padding: 1.5rem 0;
 display: flex;
 justify-content: center;
 background-color: green;
 
    
}


h1 {
    width: 70%;
    color: #fcfc7a;
    font-weight: bold;
    text-align: center;
}
