.container {
 width: 100%;
 display: flex;
 margin-top: 1rem;
 justify-content: center;
    
}


h1 {
    width: 50%;
    margin-top: .5rem;
    color:#A29B65;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1em;
}
