<div class="container">
    <h1 class="painel">Painel</h1>

    <div class="content">

        <a class="card" routerLink="../home">
            <i class="material-icons">home</i>
        </a>

        <a class="card annoucements" routerLink="../residents">
                 <i class="material-icons">person</i>
        </a>
        <a class="card services" routerLink="../concierges">
                <i class="material-icons">build</i>
        </a>
       

        <a class="card occurrence" routerLink="../occurrences">
                <i class="material-icons">warning</i>
        </a>

        <a class="card reservation" routerLink="../reservations"> 
                <i class="material-icons">date_range</i>
       </a>

       <a  class="card payment" routerLink="../payments">
            <i class="material-icons">credit_card</i>
       </a>

    </div>

</div>
