<div class="container">
    <h1 class="painel">Painel</h1>

    <div class="content">

        <a routerLink="../home">
            <div class="card" >  
                <h1>Home</h1>
                <i class="material-icons">home</i>
             </div>

        </a>

        <a routerLink="../residents">
            <div class="card annoucements" >  
                <h1>perfil</h1>
                 <i class="material-icons">person</i>
             </div>

        </a>
        <a routerLink="../concierges">
            <div class="card services" >  
                <h1>Serviços</h1>
                <i class="material-icons">build</i>
             </div>

        </a>
       

        <a routerLink="../occurrences">
             <div class="card occurrence" >  
                <h1>Ocorrências</h1>
                <i class="material-icons">warning</i>
             </div>
        </a>

        <a routerLink="../reservations">
            <div class="card reservation" >  
                <h1>Reservas</h1>
                <i class="material-icons">date_range</i>
            </div>
       </a>

       <a routerLink="../payments">
        <div class="card payment" >  
            <h1>Financeiro</h1>
            <i class="material-icons">credit_card</i>
        </div>
   </a>

    </div>

</div>
