<div class="container">
    <div class="form">
      <h1>Ver Detalhe</h1>

      <mat-form-field appearance="fill" class="full">
        <mat-label>Titulo</mat-label>
        <mat-icon matSuffix>
         </mat-icon>
        <input
        disabled="true"
        [(ngModel)]="concierge.title"
         name="title"
         matInput 
         type="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full">
        <mat-label>Prestador</mat-label>
        <input
        [(ngModel)]="concierge.name"
         disabled="true"
         name="name"
         matInput 
         type="text">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full">
        <mat-label>Documento</mat-label>
        <input
        [(ngModel)]="concierge.document"
         disabled="true"
         name="document"
         matInput 
         type="text">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full">
        <mat-label>Veiculo</mat-label>
        <input
        [(ngModel)]="concierge.car"
         name="car"
         matInput 
         disabled="true"
         type="text">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full">
        <mat-label>Descrição</mat-label>
        <textarea
        [(ngModel)]="concierge.description"
         name="description"
         matInput 
         disabled="true"
         type="text">
        </textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full">
        <mat-label>Responsável</mat-label>
        <input
        [(ngModel)]="concierge.personName"
         name="description"
         matInput 
         disabled="true"
         type="text">
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>{{returnSituation(concierge.situation)}}</mat-label>
        <mat-select
        disabled="true"
        required
        name="situation"
        [(ngModel)]="concierge.situation">
        </mat-select>
      </mat-form-field>

         

          <div class="buttons">
            <button  mat-button color="warn" (click)="goBack()">Voltar</button>
          </div>

    </div>
