.container {
    width: 80%; 
    margin: 1rem auto;
    padding: 0.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    background-color: #DDA329;
}



.form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 50%;
    box-sizing:content-box;
  

   
}


h1 {
    font-size: 2rem;
    color: #69553B;
}
mat-label {
    color:#69553B;
}


.aside {
    display: flex;
    justify-content: center;
    width: 50%;
  
 
}

.aside img {
    width: 60%;
}


@media(max-width:900px) {
  
    .aside {
        display: none;
    }

    .form {
        width: 90%;
    }
  }