.container {
    width: 90%;
    min-width: 400px; 
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content:space-between;
    background-color:  #DDA329;
    border-radius: 1rem;
}

.piker {
    width: 30%;
    background-color:  #DDA329;
}

h2 {
    color: red;
}
.aside {
    width: 70%;
    background-color: #FFF; 
    min-width: 400px;  
}

mat-label {
    color:#69553B;
}


@media(max-width:950px) {
    .container {
        
        flex-direction: column-reverse;
        align-items: center;
    }

    .piker {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}