.container {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content:center;
    background-color:  #DDA329;
    border-radius: 1rem;
}

.form {
    width:95%;
}

h2 {
    color: red;
}

mat-label {
    color:#69553B;
}
