<div class="container">
  
    <div class="piker">
        <h1>Atualizar Reserva</h1>

          <mat-form-field appearance="fill" >
            <mat-label>{{returnAuthorite(reservation.reservationAuthorite)}}</mat-label>
            <mat-select
            [(ngModel)]="reservation.reservationAuthorite"
            name="situation"
            >
              <mat-option   (click)="addProfile(0)" value="0">AUTORIZADO</mat-option>
              <mat-option   (click)="addProfile(1)" value="1">PEDENTENTE</mat-option>
              <mat-option   (click)="addProfile(2)" value="2">NÃO AUTORIZADO</mat-option>
            </mat-select>
         
         </mat-form-field>

          <div class="buttons">
            <button  mat-button color="primary" 
             (click)="update()"
            >Atualizar</button>
            <button  mat-button color="warn" (click)="goBack()">Voltar</button>
          
          </div>

    </div>

</div>



