<div class="container">
    
    <form class="form">
        <h1>Detalhes</h1>

            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <mat-icon matSuffix>
                <span class="material-icons-outlined"> drive_file_rename_outline </span>
             </mat-icon>
              <input 
              [(ngModel)]="resident.name"
               name="name"
               matInput
               [disabled]="true"
               >
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>CPF</mat-label>
                <mat-icon matSuffix>
                    <span class="material-icons-outlined"> 123</span>
                 </mat-icon>
                <input
                 [(ngModel)]="resident.cpf"
                 name="cpf"
                 matInput
                 [disabled]="true"
                 
                 >
                 
              </mat-form-field>

              <mat-form-field appearance="fill" class="full">
                <mat-label>E-mail</mat-label>
                <mat-icon matSuffix>
                    <span class="material-icons-outlined"> email</span>
                 </mat-icon>
                <input
                [(ngModel)]="resident.email"
                 name="email"
                 matInput 
                 matInput
                 [disabled]="true"
                 >
              </mat-form-field>

              <mat-form-field appearance="fill" class="full">
                <mat-label>Telefone</mat-label>
                <mat-icon matSuffix>
                    <span class="material-icons-outlined">phone</span>
                 </mat-icon>
                <input
                [(ngModel)]="resident.phoneNumber"
                disabled="true"
                 name="phoneNumber"
                 matInput 
                 placeholder="xx 9xxxx-xxxx"
                 type="text">
              </mat-form-field>

              <mat-form-field appearance="fill" class="full">
                <mat-label>Endereço</mat-label>
                <mat-icon matSuffix>
                    <span class="material-icons-outlined">roofing</span>
                 </mat-icon>
                <textarea
                [(ngModel)]="resident.adress"
                disabled="true"
                 name="endereco"
                 matInput 
                 placeholder="Seu endereço"
                 type="text">
                 </textarea>
              </mat-form-field>

              

              <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <mat-icon matSuffix>
                    <span class="material-icons-outlined"> lock</span>
                 </mat-icon>
                <input
                [(ngModel)]="resident.password"
                name="password"
                 type="password"
                 matInput
                 [disabled]="true"
                 >
              </mat-form-field>
          
          <div class="buttons">
            <button (click)="goBack()" mat-button color="warn">Voltar</button>
          </div>
          
    </form>
</div>
