<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav"  >
      <img src="assets/logo-green.png" alt="imagem de um coqueiro com sol ao lado." />
        <mat-nav-list class="nav-list">
            <a mat-list-item href="home">
              <div class="list-item--content">
                <i class="material-icons">home</i>
                <span>Home</span> 
              </div>
            </a>

            <a mat-list-item href="annoucements">
              <div class="list-item--content">
                <i class="material-icons">announcement</i>
                <span>Avisos</span> 
              </div>          
            </a>

        <a mat-list-item href="concierges">
          <div class="list-item--content">
            <i class="material-icons">build</i>
            <span>Serviços</span> 
          </div>    
        </a>

        <a mat-list-item href="occurrences">
          <div class="list-item--content">
            <i class="material-icons">warning</i>
            <span>Ocorrências</span> 
        </div>
      </a>

      <a mat-list-item href="reservations">
        <div class="list-item--content">
          <i class="material-icons">date_range</i>
          <span>Reservas</span>
      </div>
      </a>

      <a mat-list-item href="payments">
        <div class="list-item--content">
          <i class="material-icons">credit_card</i>
          <span>Financeiro</span>
        </div>
      </a>

      <a mat-list-item href="employees" *ngIf="authority">
        <div class="list-item--content">
          <i class="material-icons">group</i>
          <span>Funcionários</span>
        </div>
      </a>

      <a mat-list-item href="residents">
        <div class="list-item--content">
          <i class="material-icons">person</i>
          <span>Residentes</span>
        </div>
      </a>

      <a mat-list-item (click)="logout()">
        <div class="list-item--content">
          <i class="material-icons">logout</i>
          <span>Sair</span>
        </div>
      </a>
        </mat-nav-list>
        
    </mat-drawer>
   
    <div class="sidenav-content">
      <app-header></app-header>
      <div class="button-painel">
        <span (click)="drawer.toggle()" *ngIf="authority">
          <mat-icon class="menu" >menu</mat-icon>
        </span>
        <span (click)="logout()" class="logout">Sair</span>
      </div>

      <div class="pages"> 
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </div> 
   
  </mat-drawer-container>
  
  
  
