.container {
    height: 100%;
   background-color: #f2f2f2;
    
   
}


.sidenav {
   width: 13rem;
  background-color: #DDA329;

}

.list-item--content {
    display: flex;
    align-items: center;
}

.sidenav i {
    margin-right: .6rem;
}
.material-icons, span {
    color:#FFF;
}
.menu {
    background-color:green;
    border-radius: 50%;
    padding: .5rem  ;
    cursor: pointer;
   
}

.button-painel {
    width: 95%;
    margin: .5rem auto;
    display: flex;
    justify-content: space-between;
    
}

.logout {
  color: #DDA329;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: .2em;
}


p {
    text-align: end;
    margin-right: 3rem;
    margin-top: 2rem;
    font-size: 1rem;
    color: #DDA329;
}



img {
    width: 70%;
    height: 6rem;
    margin: .8rem auto 0 auto;
}

.sidenav-content {
    height: 100%;
}



