.container {
    height: 100%;
   
}

.sidenav {
   width: 13rem;
  
background: rgb(47,206,47);
background: linear-gradient(90deg, rgb(34, 153, 34) 0%, rgb(109, 177, 0) 100%, rgb(100, 102, 0) 100%); 
}

.list-item--content {
    display: flex;
    align-items: center;
}

.sidenav i {
    margin-right: .6rem;
}
.material-icons, span {
    color:#FFF;
}
.menu {
    background-color: #2fce2f;
}

img {
    width: 100%;
    height: 8rem;
    margin: .8rem auto 0 auto;
}
.menu {
    margin: 1rem 0 0 1rem;
}




