<div class="container">
    
    <form class="form">
        <h1>Cadastrar Ocorrência</h1>
        
            <mat-form-field >
              <mat-label>Titulo da ocorrência</mat-label>
              <input
              [(ngModel)]="occurrence.title"
              name="title"
              [formControl]="title"
              required
               matInput
              >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <input
                [(ngModel)]="occurrence.description"
                [formControl]="description"
                name="description"
                required
                 matInput>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Selecione a situação</mat-label>
                <mat-select
                [formControl]="situation"
                required
                [(ngModel)]="occurrence.situation"
                name="situation"
                >
                  <mat-option   value="0">ABERTO</mat-option>
                  <mat-option   value="1">FECHADO</mat-option>
                </mat-select>
             
            </mat-form-field>

             <div class="buttons">
                <button [disabled]=""  mat-button color="primary" (click)="create()">Criar</button>
                <button (click)="goBack()" mat-button color="warn">Voltar</button>
              </div>
    </form>
    <div class="aside">
        <img src="../../../../assets/occurrence-create.svg" alt="">
    </div>
</div>
