
<div class="container">

  <div class="header">
    <h1>Ocorrências</h1>
   <button routerLink="create" mat-raised-button >Nova ocorrência</button>
  </div>
  <mat-form-field>
    <mat-label>Pesquisar pelo Titulo</mat-label>
   
      <input matInput (input)="applyFilter($event)" placeholder="Digite o titulo da ocorrência" >
    </mat-form-field>
  <section>
    <mat-card class="card" *ngFor="let occurrence of ELEMENT_DATA | paginate: { itemsPerPage: 10, currentPage: p }">
   
      <mat-card-header>
        <h1>{{occurrence.title}}</h1>
      </mat-card-header>
      
        <mat-card-content>
          <p class="situation"><span>Relator:</span> {{occurrence.personName}} </p>

          <span class="situation">Situação:</span> <span class="authorite" [ngStyle]="{backgroundColor: returnColor(occurrence.situation)}">
            {{situationReturn(occurrence.situation)}}
          </span>

          <p class="situation"><span>Responsável:</span> {{occurrence.personName}}</p>
          <div class="buttons">
            <a routerLink="update/{{occurrence.id}}" class="update" *ngIf="showComponentByUser()">
              <i class="material-icons ">edit</i>
            </a>
            <a routerLink="delete/{{occurrence.id}}"><i class="material-icons look">
              delete
              </i>
            </a>
            <a routerLink="read/{{occurrence.id}}"><i class="material-icons eyes">
              visibility
              </i>
            </a>
  
          </div>
        </mat-card-content>
    </mat-card>
  </section>
  <div class="pagination">        
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>

    
  
    
  

    