.container {
    width: 70%;
    height: 100%;
    margin: 1rem auto;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 1rem;
   
   
}

.card {
    width: 90%;
    margin: 3rem auto;
    padding: 1rem;
    color: green;
    background-color:  #D6A34A;
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
   

}

mat-card-title {
    margin-bottom: 1rem;
}

h1 {
    color: green;
    font-size: 3rem;
    margin-bottom: 1rem;
}
