.container {
    width: 70%;
    height: 100%;
    margin: 1rem auto;
    background-color: #e3e3e3;
    padding: 2rem;
    border-radius: 1rem;
   
   
}

.card {
    width: 100%;
    margin: 3rem auto;
    padding: .2rem;
    background-color:  #DDA329;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
   

}

h2 {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    color: green;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}


@media(max-width:750px) {

    h1 {
        font-size: 1.5rem;
     
    }
}

