.card {
    width: 70%;
    margin:  auto;
    padding: 1rem;
    color: #FFF;
    background: rgb(34,193,195);
    background: linear-gradient(71deg, rgb(34, 195, 93) 0%, rgb(215, 206, 40) 100%); 
    border-radius: 3rem;

}


img {
    height: 15rem;
}