<mat-card class="card">
    <mat-card-header>
      <mat-card-title>A.C.M.L.R.I</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/park.svg" alt="Pessoas em uma praça sentadas ">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
  
