.container {
    width: 70%;
    height: 100%;
    padding:.5rem;
    margin:  2rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #DDA329;
   
     
   
 }



 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 .7rem;
 }


h1 {
    font-size: 2rem;
    color: #69553B;
}


mat-label {
    
    color:#69553B;
}

table {
    width: 100%;
    background-color:  #DDA329;
    color: #FFF;
}
thead tr{
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0;
}
td {
    padding: .3rem;
    word-break: break-all;
    text-align: center;
    border-right: 1px solid #69553B;
    
}

td:last-child {
    border-right:0px;
}

mat-paginator {
    background-color:  #DDA329;
    color: #69553B;
}

mat-form-field {
    width: 100%;
    background-color:#DDA329;
}

.header {
    width: 80%;
    margin: auto;
}

.header button {
    align-self: flex-end;
    width: 10rem;
    padding: 1.5rem;
    margin: 1rem;
    background-color:#69553B;
    color: #FFF;
    
   

}

.edit {
    color:  #C3B4A8 ;
    margin:.5rem .1rem 0 0;;
    background-color:#0c810c ;
    padding: .3rem;
    border-radius: 50%;
}
.delete {
    color:  #C3B4A8 ;
    
    background-color:rgb(219, 76, 76) ;
    padding: .3rem;
    margin:.5rem .1rem 0 0;
    border-radius: 50%;
}

.read {
    color:  #FFF ;
    
    background-color:  #C3B4A8;
    padding: .3rem;
    margin:.5rem .1rem 0 0;
    border-radius: 50%;
}


.mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: #69553B;
    --mdc-protected-button-label-text-color: #C3B4A8;
    font-weight: bold;
  }

  @media(max-width:756px) {
    .container {
        width: 95%;
        padding: .3rem;
       
    }

    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }

    
     .header button {
        width: 90vw;
        align-self: center;
     }
    
 }


