/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }



.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color:#0c810c;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-primary,#0c810c);
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #FFF;
}


.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  background: blue;

}

.mdc-data-table__pagination-total, .mdc-data-table__pagination-rows-per-page-label, .mdc-data-table__cell {
  color:#0c810c;
  font-size: 1rem;
}

  .mat-mdc-table td {
    flex: 1;
  }

.mat-mdc-table {
  background: #FFF;
  
}

.mdc-data-table__header-cell {
  color: rgba(0, 0, 0, 0.87);
}

