/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }


.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color:#69553B;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-primary,#69553B);
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #FFF;
}


.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  background: blue;

}

.mdc-data-table__pagination-total, .mdc-data-table__pagination-rows-per-page-label, .mdc-data-table__cell {
  color:#69553B;
  font-size: 1rem;
}

  .mat-mdc-table td {
    flex: 1;
  }

.mat-mdc-table {
  background:#69553B;
  
}

.mdc-data-table__header-cell {
  color: #69553B;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-focus-icon-color: #212121;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #69553B;
  --mdc-radio-selected-hover-icon-color: #69553B;
  --mdc-radio-selected-icon-color: #69553B;
  --mdc-radio-selected-pressed-icon-color: #69553B;
  --mat-mdc-radio-ripple-color: #000;
  --mat-mdc-radio-checked-ripple-color: #69553B;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
 background-color: #DDA329;
}

.ngx-pagination .disabled {
  color:#CCC;

}

.ngx-pagination a, .ngx-pagination button {
  color:  #69553B !important;
 
}

.ngx-pagination .current {
  background:#6e9e6e!important;
  color: #fefefe;
  border-radius: .5rem;
}


td {
  padding: .1rem;
  word-wrap: break-word !important;
}

